:root {
  --color-primary: #fffff2;
  --dark-theme: #8181;
  --light-pink: #fddcdb;
  /* --theme-color: #222327;  */
  --theme-color: #191414; 
  --padding: 1.7rem 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--dark-theme);
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7; 
  color: #252525;
}

  .container {
   
    display: grid;
  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr auto;
    grid-template-areas: 
    "sidebar nav  nav  nav"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
   
  }

  /* media query */
  @media only screen and (max-width: 550px) {
    html {
      font-size: 50%; }
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }


 